body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.videoPlayer {
  max-height: 85vh;
  aspect-ratio: 16/9;
}
video {
  max-height: 85vh;
  aspect-ratio: 16/9;
}