body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.videoPlayer {
  height: calc(min(100vw / 16 , 100vh / 9) * 9 * .85);
  width: calc(min(100vw / 16 , 100vh / 9) * 16 * .85);
  position: absolute;
  aspect-ratio: 16/9;
}
video {
  height: 100%;
  width: 100%;
  position: absolute;
  aspect-ratio: 16/9;
}
.mediaControls {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
}
.playPauseMediaControl {
  z-index: 2;
  position: absolute;
  background: none;
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}
.playPauseBackground {
  z-index: 3;
  color: black;
  border: 0;
  padding: 0;
  height: 30vh;
  width: 30vw;
  border-radius: 50%;
}
.playPauseMediaControl:hover #play{
  height: 20%;
  transition: .2s;
}
#play {
  height: 15%;
  transition: .2s;
}
@keyframes playDisappear {
  0% {
    stroke: white;
  }
  100% {
    stroke: rgba(0, 0, 0, 0)
  }
}
@keyframes playAppear {
  0% {
    stroke: rgba(0, 0, 0, 0)
  }
  100% {
    stroke: white;
  }
}