::placeholder {
  text-align: center; 
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #151515;
}
::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 2.5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #474747;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.hidden {
  display: none;
}
.videoPlayer {
  height: 80vh;
  width: 80vw;
  background: black;
  position: absolute;
  aspect-ratio: 16/9;
}
#mainVideo {
  height: 100%;
  width: 100%;
  position: absolute;
  aspect-ratio: 16/9;
}
.mediaControls {
  z-index: 2;
  position: absolute;
  height: 92%;
  width: 100%;
}
.playPauseButton {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playPauseIcon {
  background-color: rgba(0, 0, 0, 0.80);
  background-position: center center;
  border-radius: 50%;
  height: 13vh;
  padding: 1%;
  aspect-ratio: 1/1;
  transition: .2s;
}
.playPauseIcon:hover {
  height: 15vh;
  aspect-ratio: 1/1;
  transition: .2s;
}
@keyframes onPlayPauseAnim {
  0% {
    opacity: 1;
    height: 13vh;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0.8;
    height: 10vh;
  }
  100% {
    opacity: 0;
    height: 13vh;
  }
}
.playlistButtons {
  background: rgb(54,54,54);
  background: linear-gradient(180deg, rgba(54,54,54,1) 0%, rgba(40,40,40,1) 50%, rgba(15,15,15,1) 100%);
  position: absolute;
  height: 100vh;
  width: 20vw;
  aspect-ratio: 16/9;
  right: 0;
  padding: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 1%;
}
.playlistSelect {
  margin: 5% 5% 3% 5%;
  min-height: 10vh;
  border: 0;
  border-radius: calc(100vh * 0.01);
  aspect-ratio: 16 / 9;
  background-color: #8f8f8f;
  box-shadow: 0 calc(100vh * 0.005) #474747;
  font-size: 2vw;
  color: white;
  transition: .2s;
}
.playlistSelect:hover {
  transform: translateY(calc(100vh * -0.005));
  box-shadow: 0 calc(100vh * 0.010) #474747;
  transition: .2s;
}
.playlistSelect:active {
  transform: translateY(calc(100vh * 0.003));
  box-shadow: 0 calc(100vh * 0.002) #474747;
  transition: .2s;
}
.videoPlaylist {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,3,64,1) 35%, rgba(0,0,0,1) 100%);
  position: absolute;
  height: 20vh;
  width: 80vw;
  aspect-ratio: 16/9;
  left: 0;
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: auto;
}
.videoPlaylistFade {
  z-index: 2;
  pointer-events: none;
  position: fixed;
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(20, 20, 20, .2) 90%, rgba(15,15,15,1) 100%);
  width: 80%;
  height: 100%;
}
.videoThumbnail {
  margin: 1%;
  padding: 1vh;
  border: 0;
  border-radius: calc(100vh * 0.02);
  aspect-ratio: 16 / 9;
  transition: .2s;
}
.videoThumbnail:hover {
  transform: translateY(calc(100vh * -0.005));
  transition: .2s;
}
.videoThumbnail:active {
  transform: translateY(calc(100vh * 0.010));
  transition: .2s;
}